#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
table {
    color: palevioletred;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
}
th,
td {
    border-collapse: collapse;
    border: 1px solid whitesmoke;
}
